<template lang="html">
  <div class="container">
    <div class="row">
      <div class="col text-md-center">
        <h1>Analiza el sentimiento de la red social</h1>
        <h1>Twitter sobre tu institución</h1>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-body">
            <h3 class="text-md-center">Buscador de tweets</h3>
            <form @submit="onSubmit">
              <div class="form-group row">
                <label for="data" class="col">Ingresar Usuario</label>
                <div class="col-4">
                  <input type="text" placeholder="@user o #hashtag" name="data" class="form-control"
                         v-model.trim="form.data">
                </div>
                <div class="col">
                  <b-button type="" submit variant="primary" v-model.trim="form.data">
                    <b-icon icon="search" animation="throb"></b-icon>Buscar</b-button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import axios from 'axios'

  export default {
    data() {
      return {
        form: {
          data: ''
        }
      }
    },
    methods: {
      onSubmit(evt) {
        evt.preventDefault()
        const path = 'http://127.0.0.1:8000/api/v1.0/data.json'
        axios.post(path, this.form).then((response) => {
          this.form.data = response.data.data
          if (response.data.error) {
            this.$alert(response.data.error);
          } else {
            const tweet = response.data.data
            this.$router.push({name: 'reputacion', params :{tweet}});
          }
        })
          .catch((error) => {
            console.log(error)
          })
      }
    }
  }
</script>
