<template>
  <div class="container">
    <div class="row">
      <div class="col text-md-center">
        <h1>Analiza el sentimiento de la red social</h1>
        <h1>Twitter sobre tu institución</h1>
        <h3>{{ info.data }}</h3>
      </div>
    </div>
  </div>

</template>

<script>
    import axios from 'axios'

  export default {
    data() {
      return {
        info: null
      }
    }, mounted () {
    axios
      .get('http://127.0.0.1:8000/api/v1.0/tweets/@utpl.json')
      .then(response => (this.info = response))
  }
  }
</script>

<style scoped>

</style>
<!-- params: {{tweet: this.$route.params.tweet}}
